QWidget{

background-color: rgb(35,35,35);
color: rgb(150,150,150);
	font: 75 10pt "Miriam";
 }
QLabel
{
color: rgb(60,130,130);
}
QGroupBox
{
background-color: rgba(75,75,75,0);
}
QListWidget,QLineEdit
{
background-color: rgba(255,255,255,15);

}
QTreeView
{

}
QTreeView::item
{

}

QAbstractButton {
border-image: url(/resources/button_border_default.png) 32;
border-width: 8px;
color: rgb(200,200,200);

}
QAbstractButton:hover {
border-image: url(/resources/button_border_hover.png) 32;
color: rgb(200,200,200);

}
QAbstractButton:pressed {
border-image: url(/resources/button_border_pressed.png) 32;
color: rgb(255,255,255);

}